rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Public read/write for dev ONLY (lock this down in prod)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
